<h1>Game: {{gameId}} by {{owner}}, Round: {{currentRound}}</h1>
<div class="row" *ngIf="!canPutInBank || isOwner">
  <div class="col-sm">
    <div>{{currentQuestion}}</div>
    <div *ngIf="isOwner">{{currentAnswer}}</div>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <div class="btn-group" role="group" *ngIf="isOwner">
      <button class="btn btn-primary" (click)="sendStart()">Start</button>
      <button class="btn btn-warning" (click)="pause()">Pause</button>
      <button class="btn btn-success" (click)="correct()" *ngIf="answerReceived">Correct</button>
      <button class="btn btn-danger" (click)="wrong()" *ngIf="answerReceived">Wrong</button>
    </div>
    <div class="btn-group" role="group" *ngIf="isAnswering">
      <button class="btn btn-warning" (click)="sendBank()" *ngIf="canPutInBank">Bank</button>
      <button class="btn btn-danger" (click)="sendPass()">Pass</button>
      <button class="btn btn-success" (click)="sendAnswer()">Answer</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <p>Players </p>
    <ul class="list-group">
      <li *ngFor="let player of players; index as i" class="list-group-item" [ngClass]="{'list-group-item-success': i === answeringId}">{{player}}</li>
    </ul>
  </div>
  <div class="col-sm-6">
    <h2>Total: {{totalMoney}}</h2>
    <ul class="list-group">
      <li *ngFor="let amount of money; index as i" class="list-group-item" [ngClass]="{'list-group-item-warning': i === moneyIndex}">
        {{amount}}
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <h2>Time left: ({{timer.time}})</h2>
    <h2>Bank time: ({{bankTimer.time}})</h2>
  </div>
</div>
