<ng-container>
  <div class="form-group">
    <label for="player">Your name</label>
    <input class="form-control" id="player" [(ngModel)]="player" />
  </div>
  <button type="submit" class="btn btn-primary" (click)="savePlayer()">Submit</button>
</ng-container>
<ng-container *ngIf="playerCreated">
  <div class="row">
    <div class="col-sm">
      <h1>Games ({{player}})
        <div class="float-right btn-group" role="group">
          <button class="btn btn-success" (click)="create()">Create</button>
          <button class="btn btn-primary" [routerLink]="['questions-editor']"> Questions editor</button>
        </div>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let game of games">{{game}} <a class="btn btn-success btn-sm float-right" [routerLink]="['game', game]">join</a></li>
      </ul>
    </div>
  </div>
</ng-container>
